* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 40%;
}

form > input {
  margin: 3px 0 15px 0;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.navBar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
